<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>bookCitybox</title>
	<link type="text/css" rel="stylesheet" href="../css/open_style.css"></link>
</head>
<body>
	<div id="trip8080BookCityDiv" class="trip8080_plugin_wap">
		<div class="trip8080_plugin_top">
			<span class="trip8080left10 trip8080right10 trip8080_red_a2 trip8080left trip8080bold">热门城市</span>
			<span class="colBlue trip8080_cityHot" id="trip8080BookCityHot"></span>
		</div>
		<div class="trip8080_plugin_citys">
			<div class="head">
				<ul>
					<li class="hover" id="trip8080TabBook" style="left:10px;position:absolute;">预订城市</li>
					<li id="trip8080TabTicket" style="left:89px;position:absolute;">余票查询</li>
				</ul>
			</div>
			<div class="list" id="trip8080BookCity"><center>正在加载...</center></div>
				<div class="list" id="trip8080TicketCity" style="display:none;"><center>正在加载...</center>
			</div>
		</div>
	</div>
</body>
</html>
