<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>citybox</title>
	<link type="text/css" rel="stylesheet" href="../css/open_style.css"></link>
</head>
<body>
	<div id="trip8080City" class="trip8080_kongTouying">
		<div class="trip8080_kongTouying_boder">
			<div class="trip8080_kongDiv trip8080_borbtm_dd">
				<table class="trip8080_kongTouying_tab" width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<th class="trip8080_red_a2" id="hotCityTh">热门城市</th>
						<td id="trip8080CityHot"></td>
					</tr>
				</table>
			</div>
			<div class="trip8080_kongDiv trip8080_kongDivheight" id="trip8080CityOthers"><center>正在加载...</center></div>
		</div>
	</div>
</body>
</html>
